@import "reveal-js/css/theme/template/mixins";
@import "reveal-js/css/theme/template/settings";

$backgroundColor: rgb(0, 0, 0);

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 28px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #42affa;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

@import "reveal-js/css/theme/template/theme";

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}

.reveal pre {
	margin: auto ;
    padding: 100px 100px 100px 100px;
}

.reveal section img {
  margin: 0px 0px;
  background: rgb(0,0,0);
  border: 0px solid #363636;
  box-shadow: 0 0 0px rgb(0, 0, 0);
  max-width: auto;
  height: 50%;  }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgb(0,0,0);
  border-color: #F3DA4C;
  box-shadow: 0 0 0px rgb(0, 0, 0); }